li {
    list-style-type: none;
}

li ul {
    padding: 10px;
    list-style-type: none;
}

.gas-station {
    border: 3px dotted black;
    margin: 5px;
}

.gas-station .name-value-pair {
    display: flex;
    justify-content: space-between;
}

.gas-station .name-value-pair :first-child {
    color: green;
}

.gas-station .name-value-pair :last-child {
    color: blue;
}

#map {
    width: 100%;
    height: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}