.list-item {
    list-style-type: none;
}

.list-item ul {
    padding: 10px;
    list-style-type: none;
}

[v-cloak] {
    display: none;
}

#map {
    width: 100%;
    height: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}